.otp-wrapper {
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  font-family: 'poppins', sans-serif;
}

.otp-label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 10px;
  display: block;
}

.otp-input-container {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 0 0;
}

.otp-box {
  width: 45px;
  height: 45px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  outline: none;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(255, 127, 80, 0.25); /* soft orange shadow */
}

.otp-box:focus {
  border-color: #ff6a00;
  box-shadow: 0px 2px 8px rgba(255, 106, 0, 0.4);
}

.resend-text {
  margin-top: 12px;
  font-size: 12px;
  text-align: right;
  color: #555;
  cursor: pointer;
  text-decoration: underline;
}

