.modal-header-custom {
    background-color: #fff !important;
    color: white !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  
  /* .modal-header-custom .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  } */
  
  /* If you want to style the title specifically */
.modalwidth .modal-header-custom .modal-title {
	color: rgb(255, 112, 67) !important;
	font-size: 16px;
  font-weight: 600;
}
.section-header {
	color: #162b75 !important;
	font-weight: 600;
	/* margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(22, 43, 117, 0.2); */
	font-size: 14px;
}
  .job-title{
    color: #162A75;
  font-size: 15px;
  width: 75%;
  float: left;
    margin-bottom: 10px;
    font-weight: 600 !important;
  }
  .qualification{
    color: #1a2c71 !important;
  width: 100%;
  float: left;
  }
  .subtitle{
    font-weight:500;
    color:#717178;
  }
   
  .size30{
  width: 30%;
  float: left;
  }
    .size35{
  width: 35%;
  float: left;
  }
  .text-muted{
    color: #000 !important;
  font-size: 14px;
  }
  .left_content{
    width:85%;
    float:left;
  }
  .apply_btn{
    display: block !important;
  float: right;
   margin-bottom: 5px;
   width:15%;
   padding-left: 5%;
  }
  .apply_btn .btn{
    padding: 8px 15px;
  margin: 0px 0 8px;
  font-weight:normal;
  font-size: 12px;
  }
    .apply_btn .hovbtn{
      margin-top: 10px;
    }
  .job-main-header-sec{
    display: block;
  line-height: 20px;
  }
  #matched-jobs-container{
    padding:0px !important;
  }
  .form-check-label{
    font-size:12px;
  }
  .searchinput {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 50% !important;
  float: right;
}
.title{
  font-size:12px !important;
}

.modalwidth .modal-dialog{
height: 660px;
  width: 50% !important;
  max-width: 50%;
}
.overul{
 max-height: 250px;
  overflow-y: auto;
  font-size: 14px;
  line-height: 26px;
}
.overres {
	max-height: 100px;
	overflow-y: auto;
	font-size: 14px;
	color: #414141;
  padding-right: 10px;
	
}
.job-details{
  font-size: 14px;
  color: var(--bs-secondary-color);
}
.overul li{
  padding-right: 10px;
  color: #333;
  font-weight: 600;
}
.fontweight span{
  font-weight: 500 !important;
  color: #162b75;
}
.overul span{
   font-weight: 500 !important;
  color: #717178;
}
.externalfont {
	font-size: 14px !important;
	color: #162b75 !important;
	font-weight: 400 !important;
  text-align: center !important;
  width: 100%;
}
.modelexternal .modal-header{
border-bottom: 1px solid rgba(22, 43, 117, 0.2) !important;
padding: 25px 0;
}

.custom-footer {
	justify-content: center !important;
	padding: 20px 0 !important;
}
.externalcolor {
	background-color: #fff !important;
	border-color: #ff7043 !important;
	color: #ff7043 !important;
	font-size: 12px !important;
	font-weight: 500 !important;
}

