.stepper-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* margin: 0px 0 30px 0; */
	width: 100%;
	position: relative;
	padding: 1rem 10rem;
	background-color: #fff;
}

.step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  flex: 1;
}

.step-item .step-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  background: white;
  color: #999;
  z-index: 2;
}

.step-item .step-label {
  margin-top: 0px;
  font-size: 0.75rem;
  color: #999;
}

.step-item .step-line {
  position: absolute;
  top: 16px;
  left: 50%;
  width: 100%;
  height: 2px;
  background: #d6d6d6;
  z-index: 1;
}

/* Active Step */
.step-item.active .step-circle {
  border-color: #42579f;
  background: #42579f;
  color: white;
}

.step-item.active .step-label {
  color: #42579f;
  font-weight: 500;
}

/* Completed Step */
.step-item.completed .step-circle {
  border-color: #42579f;
  background: #42579f;
  color: white;
}

.step-item.completed .step-label {
  color: #42579f;
  font-weight: 500;
}

.step-item.completed .step-line {
  background: #42579f;
}
