.validation-modal .btn-bob-orange {
  background: #f26522 !important;
  color: #fff !important;
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
  font-weight: 400;
  font-size:0.875rem;
}
.validation-modal .confirmtext{
    color: #4A5565;
    font-weight: 500;
    font-size: 0.875rem;
    text-align: center;
    margin: 0;
}

.validation-modal .cancelbutton {
    color: #0A0A0A;
    font-weight: 400;
    font-size: 0.875rem;
    border: 1px solid #E5E5E5;
    background:#E5E5E5;
}
.validation-modal .modal-footer {
  border-top: none !important;
}